*{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Open Sans Condensed;
    color: white; 
}

header{
    display: flex;
    align-items: center;
    padding: 51px 405px 191px 405px; 
    justify-content: space-between;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
} 

ul{
    display: flex;
}  

li{
    padding-left: 40px;
}

body{
    background-image: url(img/bg.png);
}

.border{
    border-bottom: 2px solid orange;
}

.contenier{
    display: flex;
    padding: 0 405px 0 480px;
}

.text{
    padding-top: 84px;
}

h1{
    padding-bottom: 50px;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.dsc{
    padding-bottom: 49px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 21px;
    padding-right: 125px;
}

.knopka{
    border: 1px solid   #D1A954;
    background-color:   #D1A954;
    width: 160px; 
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}


.button{
    width: 121px;
    height: 22px;
    letter-spacing: 0.1em;
    background-color: transparent;
    border-color: transparent;

}

.arrow{
    margin-top: 37px;
    background-image: url("img/Arrow\ right.png");
    background-repeat: no-repeat;
    border: none;

}

.arrows{
    display: flex;
    padding: 0;
    margin: ;
}

.for_ex{
    color: #c4c4c4;
}

.back{
    padding-left: 25px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.arrowb{
    background-image: url("img/Arrow\ left.png");
    background-repeat: no-repeat;
    border: none;
}

.for_arrow1{
    display: flex;
}

.back_arr{
    margin-top: 37px;
    margin-left: 138px;
}

.margin_blyat{
    margin-top: 37px;
    margin-left: 108px;
} 
.kolonka{
    width: 150px;
    height: 1045px;
    position: absolute;
    background-color:rgba(51, 51, 51, 0.75) ;
}
.kontakt{
    display: flex;
    transform: rotate(270deg);
    margin-top: 383px;
    margin-left: -45px;
    width: 242px;
    font-size: 18px;
    font-weight: 800px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #c4c4c4;
}
.space{
    padding-right: 10px;
}
hr{
    transform: rotate(270deg);
    position: absolute;
    width: 60px;
    height: 0px;
    border: 1px solid #c4c4c4;
    top: 620px;
    left: 45px;
}
.links{
    list-style: none;
    margin-top: 250px;
    margin-left: 23px;
    display: block;
}
.links li{
    
    padding-top: 30px;
}
.fb{
    margin-left: 5px;
}